<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= user.fullname %></h2>
    <a href=<%= '/yachtclub/message/create/' + user._id %>>New Message</a>
    <a href="/yachtclub/messages">Message Board</a>
    <a href="/yachtclub/bouncer">Club Entry</a>
    <a href="/log-out">Log Out</a>
  </body>
</html>